<div id="<%= dom_id hero %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= hero.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Health:</strong>
    <%= hero.health %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sanity:</strong>
    <%= hero.sanity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Agility:</strong>
    <%= hero.agility %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cunning:</strong>
    <%= hero.cunning %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Spirit:</strong>
    <%= hero.spirit %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Strength:</strong>
    <%= hero.strength %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lore:</strong>
    <%= hero.lore %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Luck:</strong>
    <%= hero.luck %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Initiative:</strong>
    <%= hero.initiative %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Range:</strong>
    <%= hero.range %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Melee:</strong>
    <%= hero.melee %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Combat:</strong>
    <%= hero.combat %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max grit:</strong>
    <%= hero.max_grit %>
  </p>

</div>
